[submodule "fei"]
	path = fei
	url = https://github.com/JuanJoMoCa/fei.git
[submodule "poema"]
	path = poema
	url = https://github.com/JuanJoMoCa/poema.git
[submodule "ecommerce"]
	path = ecommerce
	url = https://github.com/JuanJoMoCa/ecommerce.git
